@charset "UTF_8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
}

.imagem{
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
}

aside > a {
    color: white;
    text-align: center;
}