@charset "UTF_8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: linear-gradient(to bottom,#733B2F,#EFBFA8);
    
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to top, #6f46184b,#733B2F);
}

.titulo_h1 {
    display: flex;
    padding: 1rem;
}

.img{
    display: flex;
    width: 243px;
    height: 350px;
    background-image: url('imagens/izabel.png');
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(106%, 73%);

}